---

default: &default
  ip:
  port: 40000
  cookie_keys: ichat-cookie
  session_keys: ichat-session
  #koa-session 把失效日期存入cookie加密字段中所以即使服务器重启还是能计算失效日期
  cookie_session_expiry: 120 #单位分钟
  server_timestamp_expiry: 10 #单位小时
  allowOrigin: '*'

  platform_username: liuss
  platform_password: liuss123

  # db 设置
  mongo_address: mongodb://192.168.16.45/ichat
  mongo_pool: 20

  # 此处为绝对路径
  log_path:

  redis_prefix: chat_
  redis_address: 192.168.16.45:6379
  redis_app_prefix: app_
  redis_user_prefix: user_

  push_url: http://192.168.0.108:56789
  push_apns_name: default

  upload_dir: /Users/liuss/workspance/work/nodejs/upload/u_file
  upload_file_prefix: /u_file



test:
  <<: *default
  port: 50000


